@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>.NET 💜 Azure</h1>
    <h2>THis was pushed to the test deployment slot branch and hopefully was auto swapped to the production slot</h2>
    <p class="lead">Example .NET app to Azure App Service.</p>
</div>
