@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>This was deployed using Auto Swap (hopefully)</h1>
    <p class="lead">Example .NET app to Azure App Service.</p>
</div>
