@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>This is the master branch. Please auto swap</h1>
    <p class="lead">Example .NET app to Azure App Service.</p>
    <a href="willaz204testapp.azurewebsites.net/?x-ms-routing-name=self">Go back to production app</a>
    <a href="willaz204testapp.azurewebsites.net/?x-ms-routing-name=staging">Go back to beta app</a>
</div>
